

/* REGISTER PAGE */
.register-page-wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: #fbbf24;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.register-page-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-page-logo img {
    width: auto;
    height: auto;
}

.form-wrapper {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}